<template>
  <b-modal id="new-contact-modal" @hide="onModalHide()" @ok="addContact()" centered title="Add new contact">
    <b-form-input
      v-model="newContact.firstName"
      placeholder="First name"
      >
    </b-form-input>
    <b-form-input 
      class="mt-3"
      v-model="newContact.lastName"
      placeholder="Last name" 
      >
    </b-form-input>
    <b-form-select
      class="mt-3" 
      v-model="newContact.group" 
      :options="groupsOptions"
      >
    </b-form-select>
  </b-modal>
</template>

<script>
import { groupOptions } from "./contacts.js";

export default {
  name: 'AddNewContact',
  props: {
    showModal: { type: Boolean, default: false }
  },
  data() {
    return {
      groupsOptions: groupOptions,
      newContact: {
        group: null,
        firstName: '',
        lastName: ''
      }
    }
  },
  watch: {
    showModal: {
      handler(newVal) {
        if (newVal) {
          this.$bvModal.show('new-contact-modal');
        }
      }
    }
  },
  methods: {
    // hide modal and reset inital values after hide
    onModalHide() {
      this.newContact.group = null;
      this.newContact.firstName = '';
      this.newContact.lastName = '';
      this.$emit('modal-hidden');
    },
    // commit the new contact
    addContact() {
      this.$store.commit("main/addContact", JSON.parse(JSON.stringify(this.newContact)));
    }
  }
}
</script>