<template>
  <b-modal id="delete-contact" @hide="onModalHide()" centered title="Delete Contact">
      <p>{{ 'Are you sure you want to remove ' + contact + 'from contact list ?' }}</p>
    <template v-slot:modal-footer>
        <b-button size="sm" variant="secondary " @click="onCancel()">
          No
        </b-button>
        <b-button size="sm" variant="primary" @click="deleteContact()">
          Yes
        </b-button>
      </template>
  </b-modal>
</template>

<script>
export default {
  name: 'DeleteContact',
  props: {
    showModal: { type: Boolean, default: false },
    contactIndex: { type: null },
    contact: { type: String, default: '' }
  },
  watch: {
    showModal: {
      handler(newVal) {
        if (newVal) {
          this.$bvModal.show('delete-contact')
        }
      }
    }
  },
  methods: {
    // hide modal on cance;
    onCancel() {
      this.$bvModal.hide('delete-contact');
    },
    // emit modal-hidden to parrent
    onModalHide() {
      this.$emit('modal-hidden')
    },
    deleteContact() {
      this.$store.commit("main/deleteContact", this.contactIndex);
      this.$bvModal.hide('delete-contact')
    }
  }
}
</script>