<template>
  <b-modal id="update-contact-modal" @hide="onModalHide()" @ok="updateContact()" centered title="Update contact">
    <b-form-input
      v-model="contact.firstName"
      placeholder="First name"
      >
    </b-form-input>
    <b-form-input 
      class="mt-3"
      v-model="contact.lastName"
      placeholder="Last name" 
      >
    </b-form-input>
    <b-form-select
      class="mt-3" 
      v-model="contact.group" 
      :options="groupsOptions"
      >
    </b-form-select>
  </b-modal>
</template>

<script>
import { groupOptions } from "./contacts.js";

export default {
  name: 'EditContact',
  props: {
    showModal: { type: Boolean, default: false },
    contactIndex: { type: null },
    contact: { type: Object, default:() => {} }
  },
  data() {
    return {
      groupsOptions: groupOptions
    }
  },
  watch: {
    // watcher to open the modal from parent component
    showModal: {
      handler(newVal) {
        if (newVal) {
          this.$bvModal.show('update-contact-modal')
        }
      }
    }
  },
  methods: {
    onModalHide() {
      this.$emit('modal-hidden')
    },
    // commit the contact and the index to be updated in store
    updateContact() {
      this.$store.commit("main/updateContact", { contact: this.contact, contactIndex: this.contactIndex });
      this.$emit('updated-contact', this.contact)
    }
  }
}
</script>