<template>
 <b-container class="shadow p-5 mb-5 bg-white rounded login-container">
   <h1 class="h3 mb-3 font-weight-normal d-flex justify-content-center">Please login</h1>
      <b-row class="mt-5">
        <b-col sm="3" class="d-flex justify-content-end align-items-center">
          <label >User:</label>
        </b-col>
        <b-col sm="9">
          <b-form-input
            @input="checkState($event, true)"
            type="text"
            id="input-live"
            v-model="userName"
            :state="userState"
            aria-describedby="input-live-feedback"
            trim
          ></b-form-input>
          <b-form-invalid-feedback id="input-live-feedback">
            This field is mandatory
          </b-form-invalid-feedback>
        </b-col>
      </b-row>
      <b-row class="mt-5">
        <b-col sm="3" class="d-flex justify-content-end align-items-center">
          <label >Password:</label>
        </b-col>
        <b-col sm="9">
          <b-form-input
            @input="checkState($event)"
            type="password"
            id="input-live"
            v-model="password"
            :state="passState"
            aria-describedby="input-live-feedback"
            trim
          ></b-form-input>
          <b-form-invalid-feedback id="input-live-feedback">
            This field is mandatory
          </b-form-invalid-feedback>
        </b-col>
      </b-row>
      <b-row class="mt-5 d-flex justify-content-center align-items-center">
        <b-button @click="logIn()" variant="outline-primary" class="login-btn">{{ login }}</b-button>
      </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'LoginPage',
  data() {
    return {
      userState: null,
      passState: null,
      login: 'Login',
      userName: '',
      password: '',
    }
  },
  methods: {
    // validate on input
    checkState(val, isUser) {
      if (isUser) {
        this.userState = !!val
      } else {
        this.passState = !!val
      }
    },
    validateInput() {
      let result = true;

      if (!this.userName) {
        this.userState = false;
        result = false
      }
      if (!this.password) {
        this.passState = false;
        result = false
      }
      return result;
    },
    logIn() {
      // validate on login username and password
      if (!this.validateInput()) {
        return
      }
      // go to main app if validation is passed
      this.$router.push('/mainApp');
  }
  }
}
</script>

<style scoped>
.login-btn {
  width: 100%;
}
.login-container {
  width: 500px;
  padding: 16px;
  margin-top: 60px;
}
</style>
