<template>
  <b-container class="shadow p-1 mb-5 bg-white rounded main-container">
    <div class="col-4 side-bar">
      <div>
        <b-form-input @input="searchContact()" v-model="searchValue" class="mt-3" placeholder="Filter..."></b-form-input>
        <div class="d-flex justify-content-end">
          <button @click="showAdvanceFilter()" type="button" class="btn btn-link mb-3">Advanced Filter</button>
          <button v-if="hasFilter" @click="clearFilter()" type="button" class="btn btn-link mb-3">Clear Filter</button>
        </div>
        <div @click="showContact(contact)" class="mt-3" v-for="(contact, idx) in initialContacts" :key="idx">
          <span>{{ contactName(contact) }}</span>
        </div>
      </div>
        <div class="d-flex justify-content-center">
          <button @click="addNewContact()" type="button" class="btn btn-outline-primary my-4">Add new contact</button>
        </div>
    </div>
    <div class="col-8 view-container p-4">
      <div></div>
      <div v-if="initialContacts.length">
        <h2 class="mb-4">{{ contactInfo.fullName }}</h2>
        <div class="mb-1">{{ contactInfo.phone }}</div>
        <div>{{ contactInfo.group }}</div>
      </div>
      <div v-else>There are no entries yet</div>
      <div class="row d-flex justify-content-around">
        <button @click="editContact()" type="button" class="btn btn-outline-primary">Edit contact</button>
        <button @click="deleteContact()" type="button" class="btn btn-outline-primary">Delete contact</button>
      </div>
    </div>
    <b-modal id="filter-modal" centered title="Advanced Filter">
      <b-form-input @input="searchContact2()" v-model="filterName" placeholder="Filter Name"></b-form-input>
      <b-form-select class="mt-3" v-model="groupSelected" :options="groupsOptions"></b-form-select>
      <template v-slot:modal-footer>
        <b-button size="sm" variant="secondary " @click="cancel()">
          Cancel
        </b-button>
        <b-button size="sm" variant="primary" @click="setAdvanceFilter()">
          Filter
        </b-button>
      </template>
    </b-modal>
    <add-new-contact :showModal="showAddNewContact" @modal-hidden="showAddNewContact = false"></add-new-contact>
    <delete-contact v-bind="deleteContactProps" @modal-hidden="updateList()"></delete-contact>
    <edit-contact v-bind="editContactProps" @updated-contact="showContact($event)" @modal-hidden="updateContact()"></edit-contact>
  </b-container>
</template>

<script>
import { mapGetters } from 'vuex';
import { groupOptions } from "./contacts.js"
import AddNewContact from './AddNewContact';
import DeleteContact from './DeleteContact';
import EditContact from './EditContact';

export default {
  name: 'MainApp',
  components: {
    AddNewContact,
    DeleteContact,
    EditContact
  },
  data() {
    return {
      hasFilter: false,
      contactIndex: null,
      showAddNewContact: false,
      showDeleteContact: false,
      showEditContact: false,
      groupsOptions: groupOptions,
      groupSelected: null,
      filterName: '',
      initialContacts: [],
      contact: null,
      contactInfo: {
        fullName: '',
        phone: '',
        group: ''
      },
      firstLetter: [],
      searchValue: '',
      login: 'Login',
      userName: 'User:',
      password: 'Password:',
    }
  },
  computed: {
    ...mapGetters('main', ['getContacts']),
    deleteContactProps() {
      return {
        showModal: this.showDeleteContact,
        contact: this.contactInfo.fullName,
        contactIndex: this.contactIndex
      }
    },
    editContactProps() {
      return {
        showModal: this.showEditContact,
        contact: this.contact,
        contactIndex: this.contactIndex
      }
    }
  },
  created() {
    this.showContact(this.getContacts[0]);
    this.initialContacts = this.getContacts;
  },
  methods: {
    // open modals
     addNewContact() {
      this.showAddNewContact = true;
    },
    deleteContact() {
      this.showDeleteContact = true;
    },
    editContact() {
      this.showEditContact = true;
    },
    // clear advance filter
    clearFilter() {
      this.initialContacts = this.getContacts;
      this.hasFilter = false;
    },
    // concat full name
    contactName(contact) {
      const firstName = contact.firstName.charAt(0).toUpperCase() + contact.firstName.slice(1);
      const lastName = contact.lastName.charAt(0).toUpperCase() + contact.lastName.slice(1);

      return `${firstName} ${lastName}`
    },
    // cancel advance filter modal
    cancel() {
      this.groupSelected = null;
      this.filterName = '';
      this.$bvModal.hide('filter-modal')
    },
    // update list after deleting a contact by set the contact to first item on the list if any if not display a message with no entries
    updateList() {
      this.showContact(this.getContacts[0]);
      this.showDeleteContact = false;
    },
    // close edit contact modal
    updateContact() {
      this.showEditContact = false
    },
    // set the advance filter 
    setFilter() {
      const lowerCaseValue = this.filterName.toLowerCase();

      this.initialContacts = this.getContacts.filter(item => {
          return item.lastName.toLowerCase().includes(lowerCaseValue) && item.group === this.groupSelected;
        });
      this.hasFilter = true;
      this.$bvModal.hide('filter-modal');
    },
    // show advance filter modal
    showAdvanceFilter() {
      this.$bvModal.show('filter-modal');
    },
    // search filter on contact list
    searchContact() {
      const lowerCaseValue = this.searchValue.toLowerCase();

      this.initialContacts = this.getContacts.filter(item => {
        return item.lastName.toLowerCase().includes(lowerCaseValue);
      });
    },
    // set the contact to be displayed on the main area so it can be updated or deleted
    showContact(contact) {
      if (contact) {
        this.contactIndex = this.getContacts.findIndex(el => el.lastName === contact.lastName)
        this.contact = contact
        this.contactInfo.fullName = this.contactName(contact);
        this.contactInfo.phone = contact.phone;
        this.contactInfo.group = contact.group;
      }
    },
  }
}
</script>

<style scoped>
.side-bar {
  display: flex;
  flex-direction: column;
  border-right: 2px solid grey;
  justify-content: space-between;
}
.view-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container {
  min-height: 80vh;
  display: flex;
  width: 1000px;
  padding: 16px;
  margin-top: 60px;
  flex-direction: row;
}
.letter {
  color: red;
  font-weight: bold;
}
</style>
